.git/
.github/
.venv/
__pycache__/
*.pyc
tests/

*.md
LICENSE
NOTICE.md

compose.dev.yaml
heimdall-hub.Containerfile

sample_spinner.gif
gif_first.png
preview.png

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*~
